anndata==0.12.3
apex==0.9.10dev
dcor==0.6
einops==0.8.1
load==1.0.14
local_attention==1.11.2
mamba_ssm==2.2.4
matplotlib==3.10.7
mmf==1.0.0rc10
networkx==3.4.2
numpy==2.3.4
omegaconf==2.3.0
pandas==2.3.3
pyarrow==19.0.1
Requests==2.32.5
scanpy==1.11.4
scikit_learn==1.7.2
scipy==1.16.2
seaborn==0.13.2
statsmodels==0.14.4
torch==2.2.0
torch_geometric==2.7.0
torchtext==0.17.0
torchvision==0.17.0
tqdm==4.67.1
transformers==4.51.3
typing_extensions==4.15.0
wandb==0.22.2
